.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #F4EFEC;
  color: white;
}

.icon-buttons {
  display: flex;
  gap: 10px;
}

.App-main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.task-board {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  cursor: grab;
}

.task-actions {
  display: flex;
  gap: 10px;
}

.task-board.open {
  background-color: #f8d7da;
}

.task-board.closed {
  background-color: #d4edda;
}
